// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.needAccountText,
.alreadyAccountLinkButton,
.userAgreementText {
    color: #72767d
}

.loginText,
.loginTitle,
.loginSubtitle {
    display: block;
}

.authBox * {
    width: 100%;
}

.authForm {
    margin-top: 20px;
}

.loginText {
    margin-bottom: 8px;
    color: #8e9297;
    margin-bottom: 20px;
}

.passwordInputBox {
    margin-bottom: 0px;
}

.loginTitle,
.loginSubtitle {
    text-align: center;
}

.loginTitle {
    color: white;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 8px;
}

.loginSubtitle {
    color: #72767d;
    font-size: 18px;
    line-height: 22px;
}

.passwordResetLinkButton:hover,
.alreadyAccountLinkButton:hover,
.registerLinkButton:hover {
    text-decoration: underline;
cursor: pointer;
}

.passwordResetLinkButton,
.alreadyAccountLinkButton {
    margin-top: 4px;
    margin-bottom: 20px;
    color: #7289da;
    font-size: 14px;
}

.registerLinkButton {
    color: #7289da;
    width: auto;
    margin-left: 8px;
    margin-bottom: 15px;
}

.authLoginButton {
    margin-bottom: 8px;
}

.authLoginButton:hover {
    background-color: #7289dad0;
    cursor: pointer;
}

.userAgreementText {
    margin-top: 10px;
    color: #72767d;
    font-size: 14px;
}

.authErrors {
    color: red;
    font-style: italic;
}

.wrapper {
    background: linear-gradient(to left bottom,#3d4046,#1e1e23);
    position: fixed;
    height: 100%;
}

.authFlexing {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.authBox {
    padding: 40px;
}

.authGuestLoginButton {
    margin-top: 8px;
    background-color: var(--button-secondary);
}

.authGuestLoginButton:hover {
    background-color: var(--button-secondary-hover);
}

@media (min-width: 486px) {
    .wrapper {
        background-image: image-url("authBackgroundImage.jpg");
        background-position: right bottom;
        background-attachment: fixed;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .authBox {
        box-sizing: border-box;
        width: 486px;
        background: #36393f;
        border-radius: 5px;
    }
}