.createServerForm {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;   
}

.createServerMessageWrapper {
    // display: flex;
    // align-content: center;
    // justify-content: center;
    // flex-flow: column;    
}

.createServerMessage {
    color: #7289da;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

.createServerSubMessage {
    color: gray;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.serverNameLabel {
    color: gray;
    font-weight: 700;
}

.createServerInputField {
    box-sizing: border-box;
    margin-top: 12px;
    padding:10px 4px;
    border-bottom: 2px solid gray;
    width: 236px;
}

.goBackButton {
    color: gray;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 26px;
    width: 40px;
}

.goBackButton:hover {
    cursor: pointer;
    border-bottom: 2px solid gray;
}

.goBackButtonImage {
    transform: scale(0.5);
}
.goBackButtonText{
    margin: auto;
    font-size: 12px;
}