.createANewServerButton,
.joinAnExistingServerButton {
  width: 198px;
  margin: 0px 15px 0px 15px
}

.joinAnExistingServerButton {
  background-color: var(--button-secondary);
}

.joinAnExistingServerButton:hover {
  background-color: var(--button-secondary-hover);
}

.newServerFormBackground {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.newServerMessage {
  color: #7289da;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 100px;
}

.newServerChoiceBoxes {

}