.createANewServerButton,
.joinAnExistingServerButton {
  width: 198px;
  margin: 0px 15px 0px 15px;
}

.joinAnExistingServerButton {
  background-color: var(--button-secondary);
}

.joinAnExistingServerButton:hover {
  background-color: var(--button-secondary-hover);
}

.newServerFormBackground {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.newServerMessage {
  color: var(--logo-primary);
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 50px;
}

.newServerChoiceBoxes {
  display: flex;
  height: 80%;
}

.newServerCard {
  border: 2px solid lightgray;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 10px;
}

.createServerImage {
    height: auto;
    width: 50%;
}