// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.serverChatWrapper {
    position: fixed;
    height: 100%;
    width: 100%;

}
.serverBar {
    background-color: #202225;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 12px 0 0;
    width: 72px;
}

.content {

}

.channelList {
    background-color: #2f3136;
    position: absolute;
    top: 0px;
    left: 72px;
    width: 240px;
    bottom: 0;
}

.chat {
    background: #36393f;
    position: absolute;
    top: 0;
    left: 312px;
    right: 0;
    bottom: 0;
}

.addServerButton {
    font-weight: 900;
    font-size: 40px;
    border: 3px solid white;
    text-align: center;
    border-radius: 100%;
    width: 75%;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
}

.addServerButton:hover {
    cursor: pointer;
}

.serverTitle {
    margin-bottom: 20px;
}

.createServerImage {
    height: 100px;
    width: auto;
}

.serverWithErrors {
    color: red;
}

.logoutButton {
    box-sizing: border-box;
    padding: 1px;
    text-align: center;
    color: black;
    font-weight: 700;
    background-color: red;
    width: inherit;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.logoutButton:hover {
    background-color: darkred;
    opacity: 0.8;
}

.serversList {
    display: flex;
    flex-flow: column;
    // align-content: center;
    // justify-content: center;
    // height: 100%;
}

.serverIndexItemBox {
    margin: auto;   // This is not how it should work.
    // margin-right: 8px;
    margin-bottom: 8px;
    height: 48px;
    width: 48px;
    background: #36393f;
    transition: .15s ease-out,color .15s ease-out;
    text-align: center;
    border-radius: 25px;
}

.serverIndexItemBox:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: #43b581;
    border-left: 5px solid white;
}