// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.serverChatWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}
.serverBar {
    background-color: black;
    width: 10%;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content {
    height: inherit;
    width: inherit;
    display: inherit;
    width: 90%;
}

.sideBar {
    background-color: gray;
    width: 30%
}

.chat {
    background: skyblue;
    width: 70%;
}

.addServerButton {
    font-weight: 900;
    font-size: 40px;
    border: 3px solid white;
    text-align: center;
    border-radius: 100%;
    width: 75%;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
}

.addServerButton:hover {
    cursor: pointer;
}

.serverTitle {
    margin-bottom: 20px;
}

.createServerImage {
    height: 100px;
    width: auto;
}