.serverNameHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    width: 100%;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: var(--elevation-low);
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .1s linear;
}

.serverNameHeader:hover,
.openedDropDown {
    background-color: #33353a;
}

.serverOptionsDropDown {
    user-select: none;
    position: absolute;
    top: 56px;
    left: 10px;
    width: 220px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px RGBA(0,0,0,0.24);
    background: #18191c;
    max-height: 0px;
    overflow: none;
    z-index: -1;
    padding: 6px 4px;
    transition: max-height 0.2s ease-out;
}

.serverDropDownMenuEntry {
    margin: 2px 4px;
    padding: 4px 8px;
    color: var(--text-muted);
    font-size: 14px;
    line-height: 18px;
}

.serverDropDownMenuEntry:hover {
    background: RGBA(79,84,92,0.16);
    color: var(--text-normal);
}

.serverMenuCheckBox {
    display: none;
}

.serverMenuCheckBox:checked ~ .serverOptionsDropDown {
    max-height: 240px;
    z-index: 1;
}

.serverMenuIcon {
    fill: none;
    width: 18px;
    height: 18px;
    stroke-width: 2px;
    transition: all .2s ease-out;
    stroke-dasharray: 8;
    stroke-dashoffset: 1;
    transform: translateY(5px);
}

.serverMenuCheckBox:checked ~ .serverMenuIcon {
    transform: rotate(-90deg) translateX(-1px);
    stroke-dasharray: 14;
}