html {
--logo-primary: #7289da;
--logo-primary-hover: #677ecf;
--button-secondary: #3ca374;
--button-secondary-hover: #22885a;
--button-danger: red;
--button-danger-hover: darkred;
--text-normal: #dcddde;
--channels-default: #8e9297;
--deprecated-text-input-bg: rgba(0,0,0,0.1);
--deprecated-text-input-border: rgba(0,0,0,0.3);
--deprecated-text-input-border-hover: #040405;

}