.button {
    text-align: center;
    color: white;
    background-color: var(--logo-primary);
    min-height: 44px;
    border-radius: 3px;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: var(--logo-primary-hover);
    cursor: pointer;
}

.defaultInput {
    box-sizing: border-box;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.1);
    color: #dcddde;
    border: 1px solid rgba(0,0,0,0.3);
    height: 40px;
    border-radius: 3px;
    padding: 10px;
}

.defaultInput:hover {
    border: 1px solid black;
}

.defaultInput:focus {
    border: 1px solid #7289da;
}

.defaultInputErrors {
    border: 1px solid red;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-primary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--background-secondary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}