.membersList {
    position: absolute;
    background-color: var(--background-secondary);
    top: 48px;
    bottom: 0px;
    right: 0px;
    width: 240px;
    color: white;
    padding-top: 20px;
    overflow-y: scroll;
}

.memberName {
    user-select: none;
    box-sizing: border-box;
    font-weight: bold;
    color: var(--text-muted);
    padding: 10px 10px;
    margin: 0px 10px;

}

.memberName:hover {
    background: var(--channel-hover);
    color: var(--text-normal);
    border-radius: 5px;
}