.deleteChannelButton {
    background-color: var(--button-danger);
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.deleteChannelButton:hover {
    background-color: var(--button-danger-hover);
}