.channelPlate {
    color: gray;
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 1px 0px 1px 16px;
}

.channelIcon {
    fill: gray;
    width: 20px;
    margin-right: 6px;
}