.channelIndex {
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: 100%;
}

.channelPlate {
    color: var(--text-muted);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px 8px;
    padding: 0px 8px;
    height: 32px;
}

.channelPlate:hover {
    cursor: pointer;
    background: var(--channel-hover);
    border-radius: 5px;
}

.channelIcon {
    fill: var(--text-muted);
    width: 20px;
    margin-right: 6px;
}

.channelTextArea {
    display: flex;
    font-weight: bold;
}

.channelGearIcon {
    fill: var(--channel-normal);
    height: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.createChannel {
    align-self: center;
    cursor: pointer;
    color: var(--channel-normal);
    font-weight: bold;
    font-size: 24px;
}

.channelModal {
    background: #36393f;
    height: 200px;
    width: 400px;
    color: var(--channel-normal);
}