.channelIndex {
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    padding-top: 8px;
}

.channelPlate {
    color: var(--text-muted);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px 0px 1px 8px;
    padding: 0px 8px;
    min-height: 32px;
}

.channelPlate:hover {
    cursor: pointer;
    border-radius: 5px;
    color: var(--channel-normal);
    background: var(--channel-hover);
}

.channelIcon {
    width: 20px;
    margin-right: 6px;
    fill: var(--text-muted);
}

.channelTextArea {
    display: flex;
    font-weight: bold;
}

.channelGearIcon {
    pointer-events: visible;
    cursor: pointer;
    height: 16px;
    margin-left: 16px;
    fill: var(--channel-normal);
}

.channelGearIcon:hover {
    fill: white;
}

.createChannel {
    cursor: pointer;
    user-select: none;
    align-self: center;
    color: var(--channel-normal);
    font-weight: bold;
    font-size: 24px;
}

.createChannel:hover {
    color: white;
}

.channelModal {
    background: #36393f;
    color: var(--channel-normal);
    padding: 20px;
}

.selectedChannel,
.selectedChannel:hover {
    background: var(--channel-selected);
    pointer-events: none;
    user-select: none;
    border-radius: 5px;
    color: white;
}