.serverChatWrapper ::-webkit-scrollbar {
    width: 14px;
}

.serverChatWrapper ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

.serverChatWrapper ::-webkit-scrollbar-thumb {
    background-color: var(--background-primary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}

.serverChatWrapper ::-webkit-scrollbar-track-piece {
    background-color: var(--background-secondary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}

.serverChatWrapper ::-webkit-scrollbar-corner {
    background-color: transparent;
}

.membersList::-webkit-scrollbar {
    width: 8px;
}

.membersList::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

.membersList::-webkit-scrollbar-thumb {
    background-color: var(--background-primary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}

.membersList::-webkit-scrollbar-track-piece {
    background-color: var(--background-secondary);
    border: 3px solid var(--background-tertiary);
    border-radius: 7px;
}

.membersList::-webkit-scrollbar-corner {
    background-color: transparent;
}