.noChannelSelected,
.chat {
    position: absolute;
    top: 0px;
    left: 240px;
    right: 240px;
    bottom: 0px;
}

.noChannelSelected {
    background-color: var(--background-primary);
    color: var(--channels-default);
}

.chat {
    background-color: var(--background-tertiary);
}

.chatTitleHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    min-height: 48px;
    // border: 1px solid skyblue;
    box-shadow: var(--elevation-low);
    padding: 0px 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.messageHistory {
    position: absolute;
    top: 50px;
    bottom: 95px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
}

.noChannelImage {
    width: 272px;
    height: 222px;
}

.textMessage {
    margin-left: 20px;
    margin-bottom: 20px;
}

.messageHeader{
    display: flex;
}

.author {
    color: white;
}

.timeStamp {
    font-size: 13px;
    color: var(--text-muted);
    display: block;
    margin-left: 6px;
}

.messageBody {
    color: var(--text-normal);
}

.messageDivider,
.messageInputDivider {
    height: 1px;
    background-color: var(--text-muted);
    opacity: 0.2;
    margin: 20px 0px;
}