.noChannelSelected,
.chat {
    position: absolute;
    top: 0;
    left: 312px;
    right: 0;
    bottom: 0;
}

.noChannelSelected {
    background-color: var(--background-primary);
    color: var(--channels-default);
}

.chat {
    background-color: var(--background-tertiary);
}

.messageHistory {
    overflow: scroll;
}

.noChannelImage {
    width: 272px;
    height: 222px;
}

.textMessage {
    margin-left: 20px;
}

.messageHeader{
    display: flex;
}

.author {
    color: white;
}

.timeStamp {
    font-size: 13px;
    color: var(--text-muted);
    display: block;
    margin-left: 6px;
}

.messageBody {
    color: var(--text-normal);
}

.messageDivider {
    height: 1px;
    background-color: var(--text-muted);
    opacity: 0.2;
    margin: 20px 0px;
}