.noChannelSelected,
.chat {
    position: absolute;
    top: 0px;
    left: 240px;
    right: 0px;
    bottom: 0px;
}

.noChannelSelected {
    background-color: var(--background-primary);
    color: var(--channels-default);
}

.chat {
    background-color: var(--background-tertiary);
}

.chatTitleHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background-color: var(--background-tertiary);
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    box-shadow: var(--elevation-low);
    padding: 0px 16px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.chatTitleText {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.messageHistory {
    position: absolute;
    top: 48px;
    bottom: 95px;
    left: 0px;
    right: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 16px;
}

.noChannelImage {
    width: 272px;
    height: 222px;
}

.textMessage {
    margin-bottom: 20px;
}

.messageHeader{
    display: flex;
    white-space: nowrap;
}

.author {
    color: white;
}

.timeStamp {
    font-size: 13px;
    color: var(--text-muted);
    display: block;
    margin-left: 6px;
}

.messageBody {
    color: var(--text-normal);
    word-wrap: break-word;
}

.messageDivider,
.messageInputDivider {
    height: 1px;
    background-color: var(--text-muted);
    opacity: 0.2;
    margin: 20px 20px;
}

.channelTitleIcon {
    fill: var(--text-muted);
    min-width: 24px;
    margin-right: 6px;
}

.messageMeat {
    display: flex;
}

.embedPreview {
    margin-top: 10px;
}